<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include ../partials/head %>
  </head>


  <body>

    <% include ../partials/header %>

    <!-- Begin page content -->
    <div class="container test">
      <div class="page-header row">
        <h1><strong>Erreur 404</strong> : la page demandée n'a pas été trouvée</h1>
      </div>
    </div>

    <% include ../partials/footer %>

  </body>
</html>
