<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include ../partials/head %>
  </head>


  <body>

    <% include ../partials/header %>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header row">
        <h1>Bienvenue à <em>la Bonne Fourchette</em> !</h1>
      </div>
      <div class="accueil row">
        <h4>Venez découvrir notre cuisine grâce à notre site; vous pouvez : <strong>consulter la carte</strong>, <strong>nous contacter</strong> mais aussi <strong>réserver immédiatemment une table</strong> chez nous !</h4>
      </div>
    </div>

    <% include ../partials/footer %>

  </body>
</html>
