<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include ../partials/head %>
  </head>


  <body>

    <% include ../partials/header %>

    <!-- Begin page content -->
    <div class="container test">
      <div class="page-header row">
        <h1>Se connecter</h1>
      </div>
      <div>
        <p>Votre inscription à bien été enregistrée.</p>
        <p>Un email de confirmation vous sera envoyé dans les plus brefs délais, pensez à regarder dans le dossier spams/indésirables.</br>
        La <strong>validation</strong> du compte crée est <strong>obligatoire</strong> et doit-être faite sous 7 jours.<br/>
        L'accès à l'administration est bloquée jusque là.</p>
      </div>
    </div>

    <% include ../partials/footer %>

  </body>
</html>
