<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include ../partials/head %>
  </head>


  <body>

    <% include ../partials/header %>

    <!-- Begin page content -->
    <div class="container test">
      <div class="page-header row">
        <h1>Se connecter</h1>
      </div>
      <div class="container alertBox col-lg-12">
        <%if(typeof message_warning != 'undefined') {%>
          <div class="row alert alert-warning">
            <strong>Oups... Problème avec la base de donnée :</strong><br/>
            <%-message_warning%>
          </div>
        <%}%>
        <%if(typeof message_success != 'undefined') {%>
          <div class="row alert alert-success">
            <%-message_success%>
          </div>
        <%}%>
        <%if(typeof message_info != 'undefined') {%>
          <div class="row alert alert-info">
            <%-message_info%>
          </div>
        <%}%>
      </div>
      <div class="container">
        <form class="col-lg-6" id="form-insc" method="post" action="/inscription">
          <legend>Remplissez les différents champs pour créer un compte administrateur</legend>
          <div class="form-group">
              <label for="prenom">Prénom</label>
              <input id="prenom" name="prenom" type="text" class="form-control" autofocus>
          </div>
          <div class="form-group">
              <label for="nom">Nom</label>
              <input id="nom" name="nom" type="text" class="form-control" autofocus>
          </div>
          <div class="form-group">
              <label for="pseudo">Choisissez un pseudo</label>
              <input id="pseudo" name="pseudo" type="text" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <label for="mail">Adresse mail</label>
            <input id="mail" name="mail" type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="mdp">Mot de passe</label>
            <input id="mdp" name="mdp" type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="mdpConf">Confirmez le mot de passe</label>
            <input id="mdpConf" name="mdpConf" type="password" class="form-control">
          </div>
          <button type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Confirmer</button>
            <!--input type="submit" id="ajout_com" value="Réserver"-->
        </form>
      </div>
    </div>

    <% include ../partials/footer %>

  </body>
</html>
