<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include ../partials/head %>
  </head>


  <body>

    <% include ../partials/header %>

    <!-- Begin page content -->
    <div class="container test">
      <div class="page-header row">
        <h1>Réserver une table</h1>
      </div>
      <div>
        <p>Votre réservation à bien été enregistrée.</p>
        <p>Un email de confirmation vous sera envoyé dans les plus brefs délais,penser à regarder dans le dossier spams/indésirables.<br/>
        <strong>Si la réservation ne peut se faire</strong> un appel sur votre téléphone sera effectué par l'équipe du restaurant.<br/>
        Merci de votre confiance et à très bientôt dans notre restaurant !</p>
      </div>
    </div>

    <% include ../partials/footer %>

  </body>
</html>
